/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2018, 20:03:32
    Author     : Lucas
*/
.fundo1{
    background:#1b6d85
}
.fundo2{
    background: white;
}
.fundo4{
    background: #286090
}
.fundo3{
    background:#245269
}
body{ 
   
  
  
}
body{
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    
}
a:link{
    text-decoration: none
} 
.butao {
    border-style: none; 
    background: green; 
    color: white; 
    padding: 5px; 
    font-weight: bold; 
    font-family: Cooper Black
}
.butao2 {
    border-style: none; 
    background: green; 
    color: white; 
    padding: 10px; 
    font-weight: bold; 
    font-family: Cooper Black
}
.butaoBranco{
    border-style: none; 
    background: #000;  
    color: white;
    font-weight: bold;
    font-family: Cooper Black
}
.tabelas{
    background: white
}
.butaoAmarelo{
    color: white;
    background: gold; 
    padding: 3px; 
    font-weight: bold;
    display: inline-block;
    font-family: Cooper Black
}
.butaoVermelho{ 
    color: white;
    background: red; 
    padding: 3px; 
    font-weight: bold;
    display: inline-block;
    font-family: Cooper Black
}
.butaoVerde{ 
    border-style: none; 
    color: white;
    background: green; 
    padding: 3px; 
    font-weight: bold;
    display: inline-block;
    font-family: Cooper Black
}
.butaoVerde2{ 
    border-style: none; 
    color: white;
    background: green; 
    padding: 6px; 
    font-weight: bold;
    display: inline-block;
    font-family: Cooper Black
}
.butaoVermelho2{ 
    color: white;
    background: orangered; 
    padding: 3px; 
    font-weight: bold;
    display: inline-block;
    font-family: Cooper Black
}
.butaoCinza{
    color: white;
    background: darkgray;
    padding: 3px;
    font-weight: bold;
    display: inline-block;
    font-family: Cooper Black
}
.capitao{
    border-radius: 20px;
    background: orangered; 
    padding: 2px; 
    font-weight: bold;
    color: white
}
.letrasBrancas{
    color: blue;
    font-family: Arial Black
}
.letrasBolds{
    font-size: 15px;
    font-weight: bolder
}
.letrasLaranja{
    color: green;
    font-family: Arial Black
}
.letraswhite{
    color: black;
    font-family: Arial Black
}
.letrasAmarela{
    color: yellow;
    font-family: Arial Black
}
.centralizar{
    alignment-adjust: central
}
.letrasClaras{
    color: white;
    font-family: Arial Black
}
.butaoLogar{
    background: #31b0d5;
}
